<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!--<![endif]-->

<!-- Head BEGIN -->
<head th:replace="fragments/head :: head"></head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
<div th:replace="fragments/page-header :: page-header"></div>


<div class="main">
    <div class="container">

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-4">
                <div th:replace="fragments/shared/category-menu :: category-menu"></div>
            </div>
            <!-- END SIDEBAR -->

            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <div th:replace="fragments/shared/new-arrivals :: new-arrivals"></div>
            <!-- END SALE PRODUCT & NEW ARRIVALS -->

            <!-- BEGIN CONTENT -->
            <div th:replace="fragments/shared/content :: content"></div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        <!-- BEGIN TWO PRODUCTS & PROMO -->
        <div class="row margin-bottom-35 ">
            <!-- BEGIN TWO PRODUCTS -->
           <div th:replace="fragments/shared/two-products :: two-products"></div>
            <!-- END TWO PRODUCTS -->
            <!-- BEGIN PROMO -->
            <div th:replace="fragments/shared/promo :: promo"></div>
            <!-- END PROMO -->
        </div>
    <!-- END TWO PRODUCTS & PROMO -->
    </div>
</div>

<!-- BEGIN BRANDS -->
<div th:replace="fragments/shared/brands :: brands"></div>
<!-- END BRANDS -->



<!-- BEGIN PRE-FOOTER -->
<div th:replace="fragments/page-footer :: page-footer"></div>

<!-- END FOOTER -->

<!-- BEGIN fast view of a product -->
<div th:replace="fragments/shared/fast-view :: fast-view"></div>
<!-- END fast view of a product -->

<!-- Load javascripts at bottom, this will reduce page load time -->
<div th:replace="fragments/js :: js"></div>
<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>